@import './_variables.scss';

[data-theme='dark'] {
	.dark\: {
		&text-gray-400 {
			color: var(--clr-gray-400);
		}
		&text-gray-500 {
			color: var(--clr-gray-500);
		}
		&text-white {
			color: var(--clr-white);
		}
		&bg-gray-700 {
			background-color: var(--clr-gray-800);
		}
		&bg-gray-900 {
			background-color: var(--clr-gray-900);
		}
		&border-gray-700 {
			border-color: var(--clr-gray-700);
		}
	}
}
